:root{
    --primary-dark: #0f172a;
    --secondary-dark: #1e293b;
    --primary-light: #f8fafc;
}

body{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    margin-left: 0;
    margin-right: 0;
}

/* Header */

.header{
    display: flex;
    background-color: var(--secondary-dark);
    width: 100%;
    padding-left: 8px;
}

/* Main */

.main-container{
    margin-top: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
  
.book-card h3 {
    margin-top: 0;
}
  
.book-card p {
    margin: 5px 0;
}
  
.book-card button {
    margin-top: auto;
}
  
#book-list {
    display: flex;
    flex-wrap: wrap;
}
  
#new-book-form {
    margin: 20px 0;
}
  
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

#form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-dark);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#form-container label, #form-container input[type="checkbox"] {
    display: block;
    margin-bottom: 10px;
}

#form-container input[type="text"], #form-container input[type="number"], #form-container input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

#form-container button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#form-container button[type="submit"] {
    background-color: green;
}

#form-container button[type="button"] {
    background-color: red;
}

.is-read{
    display: flex;
    align-items: flex-start;
}

.checkbox{
    margin-right: 100px;
}

.form-btn{
    display: flex;
    justify-content: space-around;
}

.btn-add {
    font-size: 24px;
    font-weight: 600;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border: 1px var(--primary-light) solid;
    border-radius: 10px;
  }

  .btn-add:hover{
    filter: brightness(90%);
  }

  .btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Footer */